.header-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0,65,122,.1);
    margin-bottom: 10px;
    }
.header{
    max-width: 860px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.title-span{
    line-height: 50px;
    height: 50px;
    font-size: 30px;
    margin-block-start: auto;
    font-weight: normal;
}.newgame-span{
    display: none;
    line-height: 50px;
    height: 50px;
    color: #4a90e2;
}
@media (max-width: 766px) and (orientation: portrait) {
    .newgame-span{
        display: block;
    }
}
