.options {
    color:var(--text-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    width: 40%;
    height: auto;
    right: 10px;
    top: 50px;
    padding:10px;
    position: absolute;
}
.hr{
    opacity: 0.8;
    margin-top:15px;
    margin-bottom:15px;
    width: 100%;
    height: 1px;
    background: var(--text-color);
}
@media (max-width: 766px) and (orientation: portrait) { 
    .options{
        width: 50%;
    }
}