:root{
    --font-weight:lighter;
    --font-family: 'Open Sans', sans-serif;
    --font-size: large;
}
.game{ 
    position: absolute;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    max-width: 860px;
    margin: auto;
    background: white;
}

.game-wrapper{
    position: relative;
    height: 500px;
    max-width: 860px;
    perspective: 1500px;
    margin: auto;
}
.rotation-wrapper {
     transition: transform 0.3s ease;
     width:200%;
     height:100%;
     position: absolute;
     top:0;
     right:0;
     z-index:2;
   }
.rotation-wrapper.rotated{
    transform-style: preserve-3d;
    transform: rotateY(55deg);}
.options {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    width: 40%;
    height: auto;
    right: 10px;
    top: 50px;
    padding:10px;
    position: absolute;
}
.hr{
    opacity: 0.8;
    margin-top:15px;
    margin-bottom:15px;
    width: 100%;
    height: 1px;
    background: black;
}
.centerBoard{
    width: 100%;
    max-width: 500px;
}

@media (max-width: 766px) and (orientation: portrait) { 
    .rotation-wrapper.rotated{
        transform-style: preserve-3d;
        transform: rotateY(70deg);}
    .options{
        width: 50%;
    }
    .game-wrapper{
        max-width: 500px;
    }
}