.svg-click{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height:100%;
    font-weight: lighter;
    fill: var(--text-color);
}
.w{
    font-size: 0.5em;
    }
    
.svg-click:hover{
    background-color:#3567a141;
}
.svg-click svg{
    width: 100%;
    height: 80%;
    font-size: 1em;
    min-width: 30px;
}
.svg-click span{
    color:var(--text-color);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    text-align: center;
    min-width: 30px;
}
.svg-click > svg{
    filter: var(--invert);
}
