body {
	background: #33405f;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.game {
    box-sizing: content-box;
    border-radius: 3px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5)
}
.game-board{
  border-collapse: collapse;
  background: #FFF;
}
.container{
  padding: 0px;
  border-right: thin solid black;
  border-bottom: thin solid black;
}
.container:nth-child(3n+4){
  border-left: medium solid black;
}
.board-row:nth-child(3n+4) .container{
  border-top: medium solid black;
}
.container:nth-child(3n){
  border-right: 0px;
}
.board-row:nth-child(3n) .container{
  border-bottom: 0px;
}

.square ,.multi_square{
  height: 60px;
  width: 60px;
  padding: 2px;
}

span {
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.possible,.impossible{
  position: relative;
  width: 33.33%;
  height: 33.33%;
  font-size: small;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.impossible{
  visibility: hidden;
}
